* {
    box-sizing: border-box;
    background-color: black;
    color: white;
}

#movie-card-card {
    margin-top: 25px;
}

#movie-card-col {
    width: 200px;
    min-height: 300px;
    height:100%;
    object-fit: cover;
}

#movie-card-image {
    max-width: 100%;
    height: 375px;
    // Enables zoom instead of stretching image
    object-fit: cover;
}