* {
    box-sizing: border-box;
    background-color: black;
    color: white;
  }

#registration-view-container {
    margin-top: 25px;
}

#registration-view-card-title {
    font-size: xx-large;

}

#registration-view-button {
    margin-top: 10px;
}