// .navbarLinks {
//   text-decoration: none;
//   padding: 5px;
//   color: white;
// }

.signInLink {
  color: white;
  margin: 5px;
}

.registerLink {
  color: white;
  margin: 5px;
}

.usersLink {
  color: white;
  margin: 5px;
}

.logoutButton {
  margin: 5px;
  color: white;
}